Dear {{item.associate.first_name}},

Thanks for your booking. Your booking with the customer is confirmed.
Be available at that time and you will receive a call from a company and will connect you with customer. Try to be polite and answer all the questions of a customer in perfect way.

Your booking details are as follows :
Booking Duration : {{item.duration}} Minutes
Booking Time : {{item.start_time}}

Customer details are as follows :
Name : {{item.user.full_name}}
Date of Birth : {{item.user.date_of_birth}}
Place of Birth : {{item.user.place_of_birth}}
Gender : {{item.user.gender}}
Marital Status : {{item.user.marital_status}}
Occupation : {{item.user.occupation}}

Need help ?
Customer Care : +91 9289034933
Email : support@astrothought.com